body { 
	background: white; 
  font-family: Calibri;
  color: black;
  font-size: 12pt;
  margin: 0;
  padding: 0;
  column-count: 2;
  -webkit-column-count: 2;
  -moz-column-count: 2;
}

#backToTop {
    display: none;
  }

#logo {
  max-width: 243px;
}

h1 {
  font-size: 12pt;
  font-weight: bold;
}

header {
  page-break-after: always;
}

section > .h2group {
  margin-bottom: 3em;
}

.h2group h2 {
  color: white;
  background-color: black;
  text-transform: uppercase;
  padding: 3pt;
  text-align: center;
  display: block;
  /*page-break-before: always;*/
  font-size: 12pt;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0;
}

.h2group p {
  padding: 3pt;
}

.h2group ul {
}

.h2group h3 {
  color: black;
  font-size: 12pt;
  font-weight: bold;
  border-bottom: 1px solid black;
  padding: 3pt;
  text-align: center;
  margin-top: 0;
}

section > .h2group > .h3group, section > .h2group > .h23group {
  page-break-inside: avoid;
  border: 1px solid black;
  margin: -1px 0 0 0;
}

#table-of-contents {
  page-break-inside:avoid;
}